.ErrorMessage {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f24e33;
    padding: 0;
    box-sizing: border-box;
    z-index: 100;
}
.fade {
    height: 80px;
    width: 100%;
    background-color: #f24e33;
}

.alert-heading {
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-top: 20px;
}
.close {
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-top: 14px;
}
.close span {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}