.Toolbar {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    box-shadow: 0 3px 12px #c9c9c9;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    margin: 16px 1212px 15px 108px 
}