.select-label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #7e7e7e;
    padding: 1.1em;
}

#selectFormGroup {
    margin-top: 1em;
}

#select-language {
    font-size: 14px;
    margin-top: 0.6em;
    height: 32px;
    max-width: 150px;
}