.progress {
    width: 36%;
    height: 34px;
    display: flex;
    align-content: center;
    border: 2px solid red;
    padding: 7px;
    border-radius: 25px;
}

.progress-bar {
    background-color: #ffff00;
    border-radius: 25px;
    text-align: right;
}